.dashboard {
  margin-top: 70px;

  .pokemon {
    &-card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 80px 12px 20px;
      border-radius: 10px;
      width: 300px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      gap: 1.5rem;

      &-wrapper {
        transform: perspective(400px) rotateX(0deg) rotateY(0deg);
      }
    }

    &-img {
      position: absolute;
      top: -100px;

      img {
        width: 10rem;
        height: 10rem;
      }
    }

    &-stats {
      & {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
      }

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }

  }
}


.pokemon-booking {
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
  text-align: center;

  &-validated {
    background-color: #3bcda5;
  }

  &-pending {
    background-color: #FF8D29;
  }

  &-refused {
    background-color: #B22727;

  }
}

.pokemons-dashboard {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 8rem;
}



.more_info-res {
  padding: 7px 15px;
  background: linear-gradient(to right, #9EDA93, #22CBA8);
  border-radius: 25px;
  border: none;
  color: #fff;
  min-width: 30%;
}



.dashboard-status {
  width: 100%;

  form {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;

  }
}

.add-pokemon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 147px 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  gap: 1.5rem;
  margin-right: 5.5rem;
  width: 300px;

  .more_info {
    position: absolute;
    bottom: 7.5%;
    left: 50%;
    transform: translateX(-50%);
    align-items: flex-end;
    width: 75%;
  }
}

.status-as-renter {
  form {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
}

.reservation-container {
  margin-top: 40px;
  h3 {
    margin-left: 12px;
  }
}
