.dashboard {
  margin-top: 70px;
}

.pokemon-booking-validated {
  color: white;
  background-color: #3bcda5;
  border-radius: 4px;
  padding: 4px 8px;
}

.pokemon-booking-pending {
  color: white;
  background-color: #FF8D29;
  border-radius: 4px;
  padding: 4px 8px;
}

.pokemon-booking-refused {
  color: white;
  background-color: #B22727;
  border-radius: 4px;
  padding: 4px 8px;
}


.pokemons-dashboard {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 8rem;
}

.footer-dashboard {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  width: 100%;
}

.more_info-res {
  padding: 7px 15px;
  background: linear-gradient(to right, #9EDA93, #22CBA8);
  border-radius: 25px;
  border: none;
  color: #fff;
  min-width: 30%;
}



.dashboard-status {
  width: 100%;

  form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

  }
}
