// Specific CSS for your home-page
.banner-home {
  position: relative;
  width: 100%;
  padding: 85px 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("banner.png") no-repeat center center / cover;

  h1 {
    color: #fff;
  }
}



.giphy-embed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

