// Import page-specific CSS files here.
@import "home";
@import "show";
@import "dashboard";
@import "booking_show";



.cards-index {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;

  .pokemon-card {
    margin-top: 9rem;
  }
}

.new {
  margin-top: 70px;
}
