<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h2>Louer vos pokemons préférés pour une semaine, un week-end ...</h2>

<h3>Les plus demandés</h3>
<% @pokemons.each do |pokemon| %>
 <div> <%= link_to pokemon.name, pokemon_path(pokemon) %> </div>
<% end %>

<h3>Les plus puissants</h3>


<h3>Les plus gentils</h3>


<h3>Les moins chers</h3>
