.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search {
  justify-content: flex-start;
  width: 100%;
  form {
    width: 50%;
    display: flex;
  }
}
